.navbar {
    font-family: 'Roboto', sans-serif;
    user-select: none;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    background-color: hsl(0, 100%, 15%);
    /* background-color: var(--accent); */

    color: white;
    font-size: 1rem;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);

    border-radius: 40px;
}

.navbar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .logo img {
    width: 5rem;
    height: 5rem;

    /* Make the logo white (default image is red) */
    filter: contrast(0%) brightness(1000%);
}

.navbar .logo img:hover {
    /* Rotate Logo */
    transform: rotate(360deg);
    transition: 1s;
}

.navbar .title {
    font-size: 1rem;
    margin-left: 1rem;
}

.navbar .title:hover {
    /* Play rotate animation */
    animation: rotate 1s ease-in-out;
    animation-iteration-count: infinite;
}

.navbar .links {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1rem;

    /* Give the children some spacing */
    gap: 1rem;
}

.navbar .links a {
    text-decoration: none;
    color: white;
}

.navbar .links a:hover {
    transform: scale(1.1);
    transition: 0.2s;

    color: rgb(255, 0, 0);
    text-decoration: underline;
}

/* Animations */
@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    40% {
        transform: rotate(10deg) scale(1.1);
    }
    70% {
        transform: rotate(-10deg) scale(1.1);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}